# Unneeded files used/created by NPM
# ------------------------------------------------------------------------------
node_modules/

yarn.lock

package-lock.json


# Unneeded files created by you or helper processes
# Ignore symbolic links as simple files!!!
# ------------------------------------------------------------------------------
log

Gemfile

Gemfile.lock

tmp/

\.bundle/

\.idea/

\.jekyll-cache/

\.vscode/

\.sass-cache/

**/*.old

**/*.tmp

**/*.log

**/*.current

**/*.pdf

**/*.swp

**/*_backup

**/\.ipynb_checkpoints/

**/notebooks/j1/*.mp4

**/notebooks/j1-bokeh-tutorial/*.html
**/notebooks/j1-bokeh-tutorial/*.png
**/notebooks/j1-bokeh-tutorial/*.svg


# Never publish your sensitive personal and/or OAuth
# data to any repo - not to public, not to any private.
# ------------------------------------------------------------------------------
private.yml


# Unneeded files for package 100_theme_css
# ------------------------------------------------------------------------------
packages/100_theme_css/dist/

packages/100_theme_css/node_modules/

packages/100_theme_css/yarn.lock

packages/100_theme_css/package-lock.json

packages/100_theme_css/report*.json


# Unneeded files for package 200_theme_js
# ------------------------------------------------------------------------------
packages/200_theme_js/dist/

packages/200_theme_js/log/

packages/200_theme_js/node_modules/

packages/200_theme_js/yarn.lock

packages/200_theme_js/package-lock.json


# Unneeded files for package 300_theme_src
# ------------------------------------------------------------------------------
packages/300_theme_src/assets/themes/j1/core/css/

packages/300_theme_src/assets/themes/j1/core/js/template*

packages/300_theme_src/assets/themes/j1/modules/nbinteract-core/js/nbinteract/j1-nbinteract-core*


# Unneeded files for package 400_theme_site
# Ignore symbolic links as simple files!!!
# ------------------------------------------------------------------------------
packages/400_theme_site/_includes

packages/400_theme_site/_layouts

packages/400_theme_site/_plugins

packages/400_theme_site/_install

packages/400_theme_site/_config.yml

packages/400_theme_site/apps

packages/400_theme_site/assets

packages/400_theme_site/_data/j1_config.yml

packages/400_theme_site/_data/modules/cc.yml


# Ignore files and folders
# ------------------------------------------------------------------------------
packages/400_theme_site/.idea/

packages/400_theme_site/.eslintrc.json

packages/400_theme_site/.sass-cache/

packages/400_theme_site/.jekyll-cache/

packages/400_theme_site/_sass/

packages/400_theme_site/node_modules/

packages/400_theme_site/vendor/

packages/400_theme_site/_site/

packages/400_theme_site/_tmp/

packages/400_theme_site/.bundle/

packages/400_theme_site/yarn.lock

packages/400_theme_site/package-lock.json

packages/400_theme_site/Gemfile.lock

packages/400_theme_site/.jekyll-metadata

packages/400_theme_site/.jekyll-cache/

#packages/400_theme_site/_config.yml

packages/400_theme_site/_data/private*.yml

packages/400_theme_site/collections/posts/featured/_posts/*welcome-to-J1 Theme.adoc

packages/400_theme_site/pages/public/jupyter/notebooks/textbooks/


# Unneeded files for package 500_theme_gem
# ------------------------------------------------------------------------------
packages/500_theme_gem/.bundle/

packages/500_theme_gem/.idea/

packages/500_theme_gem/apps/

packages/500_theme_gem/_*/

packages/500_theme_gem/node_modules/

packages/500_theme_gem/assets/

packages/500_theme_gem/.git/

packages/500_theme_gem/yarn.lock

packages/500_theme_gem/package-lock.json

packages/500_theme_gem/lib/starter_web/

packages/500_theme_gem/**/_unused
