@media screen and (max-width: $grid-breakpoint-lg) {
	nav {
		&.navigator {
			&.brand-center {
				.navbar-collapse {
					display: block;
					.col-half {
						width: 100%;
						float: none;
						display: block;
						&.left {
							margin-bottom: 0;
						}
					}
				}
				ul.nav {
					margin-bottom: 0 !important;
				}
			}
			.megamenu-content {
				padding: 0;
				.col-menu {
					padding-bottom: 0;
				}
				.title {
					cursor: pointer;
					display: block;
					padding: 10px 15px;
					margin-bottom: 0;
					font-weight: normal;
				}
			}
			&.navbar-full {
				.navbar-brand {
					float: left !important;
					padding-left: 0;
				}
				.navbar-toggle {
					display: inline-block;
					float: right;
					margin-right: 0;
					margin-top: 10px;
				}
				.navbar-header {
					padding-left: 15px;
					padding-right: 15px;
				}
				ul.nav {
					margin-left: 0;
					> li > a {
						border: none;
					}
				}
			}
		}
		&.navbar.navigator {
			background-color: $nav-primary;
      min-height: unset;
      max-height: $nav-scrolled-max-height;
			.navbar-brand {
				display: inline-block;
				float: none !important;
				margin: 0 !important;
				padding: 0 1rem;
			}
			.navbar-header {
				float: none;
				display: block;
				text-align: center;
				padding-left: 30px;
				padding-right: 30px;
			}
			.navbar-collapse {
				border: none;
				margin-bottom: 0;
				&.collapse {
					display: none !important;
					&.in {
						display: block !important;
					}
					&.show {
						display: block !important;
					}
				}
			}
			.navbar-nav {
				// float: none !important;
        padding-top: 5px;
				padding-left: 15px;
				padding-right: 35px;
        flex-direction: row;
        display: flex;
				> li {
					float: none;
					> a {
            // jadams, 2020-06-21
						display: block;
						width: 100%;
						padding: 10px 5px;
						//border-bottom: solid 1px $grey-300;
						padding-bottom: 15px;
						border-bottom: 0;
					}
					&:first-child > a {
						border-top: none;
					}
				}
				.nav-item {
					width: 95%;
					line-height: 1rem;
          // jadams, 2020-06-18: removed border line
					// border-bottom: dotted 1px $grey-300;
          //
          // jadams, 2020-06-21: removed style from QL items
          // &:first-child {
					// 	margin-top: .5rem;
					// }
					// &:last-child {
					// 	border-bottom: 0px;
					// 	margin-bottom: .5rem;
					// }
				}
        // jadams, 2019-01-18: applying hover styles to the parent
        &.open {
          border-bottom: 0px;
          background-image: linear-gradient(#141414,#1c1c1c 40%,#212121);
          background-repeat: no-repeat;
        }
			}
			ul {
				&.nav {
					&.navigator {
						.dropdown {
							&.nav-item {
								.nav-link {
									min-height: 3rem;
									width: auto;
									font-weight: 400;
									font-size: 1.5rem;
									color: $lighten;
									&:hover {
										color: $lighten-900;
									}
									&:active nav.navbar.navigator ul.nav.navigator .nav-item .nav-link:hover {
										color: $lighten-900;
									}
								}
                // jadams, 2020-06-18: enabled dropDown indicator
                // by commenting out
								// .dropdown-toggle:after {
								// 	display: none;
								// }
							}
              // jadams, 2020-06-18: enabled dropDown indicator
              // by commenting out
							// &.megamenu-fw .dropdown-toggle:after {
							// 	display: none;
							// }
						}
						.nav-item .nav-link {
							min-height: 3rem;
							width: auto;
							font-weight: 400;
							font-size: 1.5rem;
							color: $lighten;
							&:active {
								color: $lighten-900;
							}
						}
					}
					li.dropdown {
						li a.dropdown-toggle {
							//float: none !important;  jadams, 2018-01-04: : justify|center icon|text
							position: relative;
              display: inline-flex;
              align-items: center;
							width: 100%;
						}
						ul.dropdown-menu {
							min-width: $dropdown-menu-min-width !important;  // jadams: Overwite BS styles, set min width of a menue item to: 250 width: 100%;
							position: relative !important;
							background-color: transparent;
							float: none;
							padding: 0 0 0 15px !important;
							margin: 0 0 -1px 0 !important;
              line-height: 1rem;
              //border: none;  // jadams, 2018-01-05: Redesign mobile menu
							//box-shadow: 0 0 0;
							//border-radius: 0 0 0;
							> li {
								> a {
                  // jadams, 2018-01-04: redesign mobile menu (flex)
									width: 100%;
									color: $grey-50 !important;
									padding: .5rem 0 .5rem .5rem;
                  display: inline-flex;
              		align-items: center;
									// border-bottom: dotted 1px $grey-300;
									&:hover {
										color: $blue !important;
									}
								}
								&:last-child {
									// padding-bottom: .5rem;  jadams, 2018-01-04
									> a {
                    border-bottom: 0px;
									}
								}
							}
						}
					}
					ul.dropdown-menu {
						li {
							a {
								&:hover {
									background-color: transparent;
								}
								&:focus {
									background-color: transparent;
								}
							}
							&.dropdown {
								&.open > ul.dropdown-menu {
									//display: inline-block;
									//margin-top: -10px;
                  line-height: 1;
								}
							}
						}
						ul.dropdown-menu {
							float: none !important;
							left: 0;
							padding: 0 0 0 15px;
							position: relative;
							background: transparent;
							width: 100%;
						}
					}
				}
				&.navbar-nav.navbar-left > li:last-child > ul.dropdown-menu {
					//border-bottom: solid 1px $grey-300;
				}
			}
			&.navbar-mobile {
				.navbar-collapse {
					position: fixed;
					overflow-y: auto !important;
					overflow-x: hidden !important;
					display: block;
					background: $white;
					z-index: 99;
					width: 280px;
					height: 100% !important;
					left: -280px;
					top: 0;
					padding: 0;
					transition: all 0.3s ease-in-out;
					&.in {
						left: 0;
					}
					[class*=' col-'] {
						width: 100%;
					}
				}
				.tab-menu {
					width: 100%;
					display: block;
				}
				.tab-content {
					width: 100%;
					display: block;
				}
				ul.nav {
					width: 293px;
					padding-right: 0;
					padding-left: 15px;
					> li > a {
						padding: 15px;
					}
					ul.dropdown-menu {
						.col-menu {
							.title {
								padding-right: 30px !important;
								padding-top: 13px !important;
								padding-bottom: 13px !important;
							}
							ul.menu-col li a {
								padding-top: 13px !important;
								padding-bottom: 13px !important;
							}
						}
						> li > a {
							padding-right: 15px !important;
							padding-top: 15px !important;
							padding-bottom: 15px !important;
						}
					}
				}
			}
			&.navbar-fixed {
				.logo-scrolled {
					display: block !important;
				}
				.logo-display {
					display: none !important;
				}
			}
      // jadams, 2020-07-02: new padding|right to adjust toggler
      // with ssm buttons vertically
			.navbar-toggler {
        color: rgba(255, 255, 255, 0.5);
        padding-top: .35rem;
        padding-right: .5rem;
        padding-bottom: .5rem;
        border: 0;
        border-color: transparent;
        border-radius: 0;
  				&:hover {
  					color: rgba(255, 255, 255, 0.9);
  				}
  				&:focus {
  					color: rgba(255, 255, 255, 0.9);
  				}
			}
			.dropdown-item {
				&:focus {
					background-color: $darken !important;
				}
				&:hover {
					background-color: $darken !important;
				}
			}
			&.no-full .navbar-collapse {
				max-height: 48x;
				overflow-y: hidden;
			}
			li.dropdown {
				&.nav-item {
					&.nav-sub-item {
						font-size: 1rem;
						line-height: 2rem;
            // jadams, 2019-08-22: removed icons
            // dropdown indicator
						// &.open > a.dropdown-toggle:before {
						// 	content: "\f795";  // // mdi-arrow-expand-down
						// }
					}
          // jadams, 2019-08-22: removed icons
          // dropdown indicator
					// &.open > a.dropdown-toggle:before {
					// 	content: "\f795"; // mdi-arrow-expand-down
					// }
				}
        // jadams, 2019-08-22: removed icons
        // dropdown indicator
				// a.dropdown-toggle:before {
				// 	font-size: 2rem;
				// 	font-family: $font_0;
				// 	content: "\f793"; // mdi-arrow-collapse-right
        //   margin-right: 1.5rem;
        //   margin-left: -1rem;
				// }

        // jadams, 2020-06-18: enabled dropDown indicator
        // by commenting out
				// ul.dropdown-menu li.dropdown > a.dropdown-toggle:after {
				// 	display: none;
				// }
			}
			.dropdown .megamenu-content .col-menu {
				.title {
					padding: 10px 15px 10px 0;
					line-height: 24px;
					text-transform: none;
					font-weight: 400;
					letter-spacing: 0;
					margin-bottom: 0;
					cursor: pointer;
					border-bottom: solid 1px $grey-300;
					color: $grey-800;
				}
				&:last-child {
					.title {
						border-bottom: none;
					}
					ul.menu-col li:last-child a {
						border-bottom: none;
					}
				}
				.content {
					padding: 0 0 0 15px;
				}
				ul > li > a {
					display: block;
					width: 100%;
					border-bottom: solid 1px $grey-300;
					padding: 8px 0;
				}
				&.on:last-child .title {
					border-bottom: solid 1px $grey-300;
				}
				&.open:last-child .title {
					border-bottom: solid 1px $grey-300;
				}
			}
			&.navbar-sidebar .share {
				padding: 30px 15px;
				margin-bottom: 0;
			}
			.megamenu-content.tabbed {
				padding-left: 0 !important;
			}
			.tabbed > li {
				padding: 25px 0;
				margin-left: -15px !important;
			}
/*			.dropdown-menu .dropdown-item {
				padding: .5rem;
				max-width: unset;
			}
*/
			.nav-link:hover {
				background-image: unset;
				background-repeat: unset;
			}
			.navbar-default .navbar-nav > li > a {
				color: $grey-50 !important;
				&:hover {
					color: $blue !important;
				}
			}
			&.navbar-transparent.light {
				background-color: rgba(0, 0, 0, 0.4) !important;
				border-bottom: 0;
			}
		}
	}
	.attr-nav {
		position: absolute;
		right: 2.5rem;
		margin-right: 0;
    // jadams, 2020-06-21
		overflow: hidden;
		> ul {
			padding: 0;
			margin: 0 -15px -7px 0;
			> li {
				> a {
					padding: 16px 15px 15px;
				}
				&.dropdown {
					> a.dropdown-toggle:before {
						display: none;
					}
					ul.dropdown-menu {
						margin-top: 2px;
						margin-left: 55px;
						width: $dropdown-menu-min-width;
						left: -$dropdown-menu-min-width;
						border-top: solid 5px;
					}
				}
			}
		}
	}
	body {
		> .wrapper {
			overflow-x: hidden;
			transition: all 0.3s ease-in-out;
		}
		&.side-right > .wrapper {
			margin-left: 280px;
			margin-right: -280px !important;
		}
	}
	.top-search .container {
		padding: 0 45px;
	}
	.navbar .nav-link:focus {
		background-image: unset;
		background-repeat: unset;
	}
	.dropdown-menu .dropdown-item {
		padding: 0;
	}
	.nav-item + .nav-item {
		margin-left: 0 !important;
	}
} // END MAX width: $grid-breakpoint-lg (992px)
