// Buttons
// -----------------------------------------------------------------------------

@mixin btn-shadow($color){
  @include gradient-y-three-colors(lighten($color, 6%), $color, 60%, darken($color, 4%));
  filter: none;
}

@mixin btn-shadow-inverse($color){
  @include gradient-y-three-colors(darken($color, 18%), darken($color, 15%), 40%, darken($color, 13%));
  filter: none;
}
